extends ../layout

block content
  .container
    .row
      include ../../includes/logo-top
      .col-md-8.col-md-offset-1.pull-left.mmmain
        p
          h2 Add a New Book
          form(method="POST" action="/books")
            include ../../includes/book-form
            .form-group.footer
              button.btn.btn-default(type="submit") Add Book 
              a.btn.btn-danger(href="/books") Cancel
