extends ../layout

block content
  .container
    include ../../includes/logo-top
    .row
      if book
        h3 #{book.title}
        a(href="/books/#{book.id}/edit") Edit Book
        br
        a(href="/books/#{book.id}/delete") Delete Book
