extends layout

block content
  .container
    .row
      include ../includes/logo-top
      .col-md-8.col-md-offset-4.pull-left.mmmain
        h1= message
        h2= error.status
        pre #{error.stack}
