.form-group
  p
    label(for="firstname") First Name
    br
    input.form-control(type="text" id="firstname" name='firstname' placeholder="First Name" value= (author ? author.firstname : ''))
.errrrs
  if error
    p
      h5(style="color: red;")= error
.form-group
  p
    label(for="lastname") Last Name
    br
    input.form-control(type="text" id="lastname" name='lastname' placeholder="Last Name" value= (author ? author.lastname : ''))
.form-group
  p
    label(for="bio") Bio
    br
    textarea.form-control(rows="8" id='bio' name='bio')= (author) ? author.bio : ''
.form-group
  p
    label(for="portrait_url") Portrait URL
    br
    input.form-control(type="text" id="portrait_url" name='portrait_url' placeholder="Portrait URL" value= (author ? author.portrait_url : ''))
