.form-group
  p
    label(for="title") Book Title
    br
    input.form-control(type="text" id="title" name='title' placeholder="Book Title" value= (book ? book.title : ''))
.form-group
  p
    label(for="genre") Book Genre
    br
    input.form-control(type="text" id="genre" name='genre' placeholder="Book Genre" value= (book ? book.title : ''))
.form-group
  p
    label(for="description") Book Description
    br
    textarea.form-control(rows="2" id='description' name='description')= (book) ? book.description : ''
.form-group
  p
    label(for="cover_url") Book Cover URL
    br
    input.form-control(type="text" id="cover_url" name='cover_url' placeholder="Book Cover URL" value= (book ? book.cover_url : ''))

//- authors box add and delete individual authors
