.col-sm-12.col-md-3.text-center#headerlogonlinks.pull-left
  //- a(href="/") 
  p
    img(src="/images/book.png" width="80%" alt="book image")
    h1 gReads
  br
  br  
  p
    a.btn.btn-default.form-control(href="/books") BOOKS
  p
    a.btn.btn-default.form-control(href="/authors") AUTHORS
