extends ../layout

block content
  .container
    if author
      .row
        include ../../includes/logo-top
        .col-md-8.col-md-offset-4.pull-left.mmmain
          p
            h2 Edit Author
            hr
            form(method="POST" action="/authors/#{author.id}")
              .hidden
                input(type="number" id="id" name='id' value= (author ? author.id : undefined))
              include ../../includes/author-form
              .form-group.footer
                button.btn.btn-default(type="submit") Submit Changes
                a.btn.btn-danger(href="/authors") Cancel
