extends ../layout

block content
  .container
    .row
      include ../../includes/logo-top
      .col-md-8.col-md-offset-1.pull-left.mmmain
        h1 Authors
        a(href="/authors/new") Add an Author
        if authors
          for author in authors
            p
              h3  
                a(href="/authors/#{author.id}") #{author.firstname} #{author.lastname}
