extends ../layout

block content
  .container
    .row
      include ../../includes/logo-top
      .col-md-8.col-md-offset-4.pull-left.mmmain
        p
          h2 Add a New Author
          hr
          form(method="POST" action="/authors")
            include ../../includes/author-form
            .form-group.footer
              button.btn.btn-default(type="submit") Add Author 
              a.btn.btn-danger(href="/authors") Cancel
